@import "main.css";
  
  .column {   
    float: left;
    width: 100%;
        background-color: rgba(0,0,0,0.35);
          border-radius: 20px;
      margin-top: 16px;
  }
  
  .card {
      text-align: center;
  }

  .card a {

    float: none;
  }